
<div class="bg-cover bg-center bg-no-repeat flex justify-end items-center" >
    <div class="flex align-baseline w-72 text-white">
        <div class="leading-7 text-left text-sm font-thin mt-2 w-4/5 mx-auto ">
            <p class="cursor-pointer p-2 hover:bg-gray-500 rounded-md mt-1 ">
                <i class="bi bi-bug"></i>
                <span class="ml-2">Report problem</span>
            </p>
            <p class="cursor-pointer p-2 hover:bg-gray-500 rounded-md mt-1">
                <i class="bi bi-gear"></i>
                <span class="ml-2">Settings</span>
            </p>
            <p class="cursor-pointer p-2 hover:bg-gray-500 rounded-md mt-1">
                <i class="bi bi-box-arrow-in-right"></i>
                <span class="ml-2">Logout</span>
            </p>
        </div>
    </div>
</div>
